name: Build and deploy Quarto site

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Quarto CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y curl gdebi-core
          curl -L https://quarto.org/download/latest/quarto-linux-amd64.deb -o quarto.deb
          sudo gdebi -n quarto.deb
      - name: Render site
        run: |
          quarto render

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v3

      - name: Upload _site directory as Pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: docs

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
